<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stock Brokerage Simulation</title>
</head>

<body>
    <section class="hero">
        <h1>Welcome to my stock brokerage simulator!</h1>

    </section>
    <section class="user-interaction">
        <label for="stock-options">Stock:</label>
        <select name="stock-options" id="stock-options">
            <option value="">-- Please choose an option --</option>
            <option value="stockOptionGE">[GE] General Electric Co</option>
            <option value="stockOptionKO">[KO] Coca-Cola Co</option>
            <option value="stockOptionGOOGL">[GOOGL] Alphabet Inc Class A</option>
            <option value="stockOptionAAPL">[AAPL] Apple Inc</option>
            <option value="stockOptionMSFT">[MSFT] Microsoft Corp</option>
            <option value="stockOptionAMZN">[AMZN] Amazon.com Inc</option>
            <option value="stockOptionNVDA">[NVDA] NVIDIA Corp</option>
            <option value="stockOptionAVGO">[AVGO] Broadcom Inc</option>
            <option value="stockOptionCOST">[COST] Costco Wholesale Corp</option>
            <option value="stockOptionMETA">[META] Meta Platforms Inc</option>
            <option value="stockOptionNFLX">[NFLX] Netflix Inc</option>
            <option value="stockOptionPEP">[PEP] PepsiCo Inc</option>
            <option value="stockOptionTSLA">[TSLA] Tesla Inc</option>
            <option value="stockOptionPG">[PG] Procter & Gamble Co</option>
            <option value="stockOptionCL">[CL] Colgate-Palmolive Co</option>
            <option value="stockOptionXOM">[XOM] Exxon Mobil Corp</option>
            <option value="stockOptionIBM">[IBM] IBM Common Stock</option>
        </select>

        <label for="action-options">Action type: </label>
        <select name="action-options" id="action-options">
            <option value="">-- Please choose an option --</option>
            <option value="actionOptionBuy">Buy</option>
            <option value="actionOptionSell">Sell</option>
            <option value=actionOptionShort"">Short</option>
            <option value="actionOptionBTC">Buy-to-cover</option>
        </select>

        <label for="order-options">Order type: </label>
        <select name="order-options" id="order-options">
            <option value="">-- Please choose an option --</option>
            <option value="orderOptionMarket">Market</option>
            <option value="orderOptionLimit">Limit</option>
            <option value="orderOptionStopLoss">Stop-loss</option>
            <option value="orderOptionStopLimit">Stop-limit</option>
            <option value="orderOptionTrailingStop">Trailing-stop</option>
        </select>

        <label for="order-duration">Duration: </label>
        <select name="order-duration" id="order-duration">
            <option value="">-- Please choose an option --</option>
            <option value="orderDurationDay">Day</option>
            <option value="orderDurationGTC">Good-Til-Canceled</option>
        </select>


    </section>
    <section class="stock-display">
        <div class="stock-display-header">

        </div>
        <div class="stock-display-graph">

        </div>
    </section>
</body>

<script src="../static/js/app.js"></script>

</html>